/*SignInPage*/

.login-form {
  width: 100%;
  max-width: 330px;
}

.auth {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/*ClientsPage*/

.pagination {
  justify-content: center;
}

.input {
  flex: 1;
  margin-right: 10px
}

.client {
  height: 90vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column
}
.client-list {
  height: 620px;
}

.client-form {
  display: flex;
}

.history-column {
  max-width: 15%;
  cursor: pointer;
  text-align: left;
}

.manager-name {
  font-weight: bold;
}
/*HIstiryPage*/
.history {
  height: 90vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.history-form {
  display: flex;
  width: 100%
}
.history-list {
  height: 700px;
  width: 70%;
}

.action {
  display: block;
  width: 700px;
  max-width: 100%;
  text-align: left;
}

/*EditPage*/
.edit {
  display: flex;
  height: 90vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}


/*ColorPicker*/

 .colorPicker {
   border: 3px solid;
 }

.icon-items {
  display: none;
}

.icon {
  width: 100px;
}

tr:hover > .icon > .icon-items {
  display: block
}

.history-column {
}
.twitter-picker {
  position: absolute;
}

.input-edit {
  margin: 0px;
}

td {
  overflow: hidden;
  max-width: 100px;
  text-overflow: ellipsis;
  text-align: center;
  height: 50px
}

tr {
  text-align: center;
}
